body {
  margin: 40px auto;
  text-align: center;
  width: 70%;
}

form input {
  width: 93%;
  height: 20px;
  font-size: large;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  padding: 10px;
}

.todolist {
  margin: 30px auto;
  display: block;
}

.todolist h2 {
  text-decoration: underline;
}

.todolist ol {
  height: 66vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(232, 231, 231);
    border-radius: 8px;
}

.todolist div {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.todolist div button {
  margin-left: auto;
  margin-right: 30px;
}